<div style="float:left; width:auto">
	<b>Método de despacho</b>
	<hr>
	<div style="color:#545454; margin-left:20px;">
		<%= radio_button("delivery", "option", "Normal", :checked => true) %> 
		Despacho estándar (considera desde 4 a 8 días hábiles para que tu compra esté en el lugar deseado)<br /><br />
		<%= radio_button("delivery", "option", "Express") %>
		Despacho ultra-rápido - <b>$3.000 de recargo</b> (1 a 2 días hábiles para que la compra esté en el lugar deseado) <br /><br />
	</div>
</div>