<hr>
Realiza una transferencia a los siguientes datos:
<div style="margin:10px 0px 10px 10px;">
- <b>Banco:</b> BCI<br />
- <b>Nº Cuenta Corriente:</b> 86865536<br />
- <b>Titular Cuenta:</b> Innoventos<br />
- <b>Rut:</b> 76.172.673-0<br />
- <b>Correo:</b> contacto@tramanta.com<br />
</div>
<b>Una vez realizada la transferencia</b> haz click en el botón de abajo.<br /><br />
Dentro de las próximas horas te enviaremos un correo confirmando que hemos recibido el depósito correctamente y realizaremos el despacho según las políticas que ya revisaste.
<br /><br />
<%= link_to 'Transferencia Realizada', buy_success_transfer_path(:purchase_id => purchase.id), :method => :post, :class => 'button_buy_dress' %>
<br />