<%= image_tag 'wedding_planner/wedding_planner_banner.png', alt: 'Wedding Planner' %>
<h1>Edita tu información</h1>
<div style="margin-left:10px;">
	<div>
		Para poder entregarte una idea clara y presupuesto de cómo sería el proceso de planeamiento de tu matrimonio, necesitamos que nos entregues información general sobre lo que estás pensando para tu gran día. <br /><br />
		No es necesario que sepas todo, simplemente que nos des una idea general. Nosotros revisaremos la información y te contactaremos para que armemos juntos lo que sueñas.
	</div>
	<%= render 'form' %>
</div>
<br /><br />
<%= link_to 'Volver', @wedding_planner_quote %>