
<div class="right_link">
	<%= link_to 'Show', @ceremony %> |
	<%= link_to 'Back', ceremonies_path %>
</div>
<div class="titulos">
	Editing ceremony
</div>
<div class="box">
	<%= render 'form' %>
</div>



