.bundle
db/*.sqlite3
log/*.log
tmp/
.sass-cache/
.DS_Store
nbproject
config/database.yml
.redcar
public/system/*
public/assets/*
*~
public/sitemap*
.idea
vendor/webpay/*

.rvmrc

.ruby-gemset

.ruby-version