<div class="right_link">
	<%= link_to t('cancel'), edit_supplier_account_service_path(@supplier, @service), :class => :button %>
</div>
<div class="titulos">
	<%= t('images_for') + " " + @service.name %>
</div>

<div class="box_form">
		<%= render 'form' %>
</div>
