<div id="d_sentimos_no">
	<div class="d_tipografia_sentimos_no_grande">
		¡Lo sentimos!
	</div>
	<div class="d_tipografia_sentimos_no_chica">
		Esta cuenta no esta participando
	</div>
	<br />
	<br />
</div>
