<div id="d_texto_vistauno">
	<div class="d_tipografia_texto_vistauno">
		Si ya <b>pasaste</b> la etapa 1 y votaste por <b>playeros</b> sube tu mejor foto relacionada al destino, </br>las 10 <b>más</b> votadas pasarán a la 
		<b>GRAN final!</b>
	</div>
</div>
<div id="d_btn_ingresa">
	<%= link_to image_tag("contests/btn_ingresa.png"), new_user_session_path %> 
</div>
