<div id="d_sentimos_viajero">
	<div class="d_tipografia_sentimos_viajero_grande">
		¡Lo sentimos!
	</div>
	<div class="d_tipografia_sentimos_viajero_chica">
		Eres del grupo <b>viajero</b>, ¡mejor suerte para la <b>próxima!</b>	
	</div>
	<br />
	<br />
</div>
