<h1>BASES DE CONCURSO</h1>
<h2>BASES LEGALES CONCURSO “DESPEDIDA DE SOLTERA SOÑADA, TU Y TUS AMIGAS A BUENOS AIRES”</h2>

CONCURSO:
<br /><br />
Comercial Eccsa S.A., RUT Nº 83.832.700-6 (en  adelante, “Ripley”) junto a la sociedad Innoventos sPa, RUT Nº 76.172.673-0 (en adelante, “Matriclick”), realizarán el concurso a través de la página web www.tributosport.com (en adelante, Página Web) denominado “Despedida de Soltera Soñada, tú y tus amigas a Buenos Aires”.
<br /><br />
Además, participará de este concurso la sociedad Turismo Cocha S.A., RUT Nº 81.821.100-7 (en adelante, “Cocha”)  la que participará en la entrega del Premio.
<br /><br />
Ripley y Matriclick velarán por el cumplimiento de estas bases y tomarán las decisiones que digan relación con el concurso.
<br /><br />
PREMIO:
<br /><br />
El premio (en adelante, “El Premio”), consiste en el abono de cuatro paquetes de 35.000 kilómetros y una estadía en Buenos Aires para la participante ganadora y tres amigas acompañantes (en adelante, “Acompañantes), según se detalla a continuación:
<br /><br />
Se abonarán 35.000 Kilómetros LANPASS por persona (una participante y sus tres Acompañantes). Es responsabilidad de las ganadora y sus acompañantes hacer todas las gestiones destinadas a canjear los pasajes a 35.000 kilómetros o menos. Si el canje es menor a 35.000 kilómetros el resto de los kilómetros serán de propiedad de la persona respectiva.
<br /><br />
Estadía consistente en dos habitaciones dobles por dos noches en un hotel de cuatro estrellas, en habitaciones estándar, desayuno incluido, más traslados desde y hacia el aeropuerto de Buenos Aires. Esta estadía será entregada por Cocha.
<br /><br />
El Premio podrá canjearse hasta el 12 de julio de 2013 y se podrá utilizar hasta el 8 de diciembre de 2013, fecha en que el viaje deberá haber terminado. 
<br /><br />
Todos los servicios deberán ser reservados con al menos un mes de anticipación a la fecha del viaje. El viaje deberá comenzar un viernes y terminar un domingo. El Premio no podrá coincidir con alguna de las siguientes fechas, de ninguna forma: 12 de julio, 16 de agosto y 01 de octubre. No se podrán hacer cambios ni devoluciones respecto al Premio. 
<br /><br />
Es requisito determinante para poder recibir al premio que la participante esté inscrita en el programa de Ripley Novios. Toda la información relativa al programa Ripley Novios se encuentra en la página web de Ripley, www.noviosripley.cl.
<br /><br />
Además, es requisito determinante para recibir el Premio que las cuatro personas que vayan a viajar estén inscritas en el programa de Kilómetros Lanpass. Toda la información relativa al programa de Kilómetros Lanpass se encuentra disponible en www.lanpass.cl. 
<br /><br />
QUIÉNES PARTICIPAN:
<br /><br />
Podrán participar en el concurso todas aquellas mujeres, residentes en Chile, mayores de edad que estén inscritas como socias en www.tributosport.com y que puedan acreditar que se contraerán matrimonio en un plazo máximo de dieciocho meses desde que participan en el concurso. La acreditación de lo anterior se podrá realizar únicamente mediante una reserva de un servicio de matrimonio, reserva de hora al Registro Civil o inscripción previa de código de novios en una casa comercial, Ripley o Matriclick podrán exigir todos los antecedentes que sean necesarios, a su juicio, para vertificar que se celebrará el matrimonio en le época indicada. 
<br /><br />
Cada participante podrá inscribirse una sola vez y el RUT con que se inscriba deberá ser  válido. 
<br /><br />
No podrán participar en el concurso los trabajadores, agentes, dependientes, estudiantes en práctica o colaboradores permanentes de Cocha, Matriclick o Ripley, como tampoco sus cónyuges y parientes hasta el segundo grado de parentesco por consanguinidad o afinidad. 
No podrán participar tampoco todas aquellas personas que se inscriban en www.tributosport.com con posterioridad al 05 de mayo de 2013.
<br /><br />
MECÁNICA:
<br /><br />
Las participantes que cumplan con todos los requisitos para poder hacerlo, deberán subir una foto con al menos tres amigas a la página web www.matriclick.cl, según las instrucciones que se establecen en la misma. 
<br /><br />
Las cinco fotos más votadas entre el 15 de abril y el 5 de mayo de 2013 a las 00:00 horas, calificarán para participar en una final (en adelante, “La Final”) que se llevará a cabo, salvo que Ripley o Matriclick definan otra fecha o lugar, el día 9 de mayo de 2013, en la tienda Ripley ubicada en el Mall Costanera Center, mediante un concurso que se definirá en ese momento. A la Final deberá acudir la participante con 3 amigas con las que aparezca en la foto, estas serán las personas que, en el evento de resultar ganadoras del Premio, podrán participar del mismo.
<br /><br />
Es obligación para las participantes ela ocupar fotos que no se opongan a la moral y las buenas costumbres y será completa responsabilidad de las mismas no violar las normativas correspondientes. Ripley o Matriclick podrán inmediatamente eliminar del concurso a todas aquellas participantes y todos las fotos que se opongan a lo expuestos en este párrafo.
<br /><br />
Los participantes, desde ya, eximen de toda responsabilidad a Matriclick, Cocha y Ripley en el caso de cualquier reclamación que terceras personas pudieran hacer respecto a la titularidad de los derechos de dominio u otros, sobre las imágenes entregadas a Matriclick y a Ripley para el concurso. Si un participante violara la propiedad de terceros se obligará además a indemnizar a Ripley y a Matriclick por todos los perjuicios que se pudieran ocasionar por la referida violación. 
<br /><br />
Los participantes declaran que autorizan a Ripley, Matriclick y a Cocha a usar libremente y sin necesidad de otra autorización todas las frases, imágenes o cualquiera otra cosa, de cualquier tipo que sea, que entreguen a Ripley y Matriclick para la ejecución de este concurso. Se deja constancia de que Ripley, Matriclick y Cocha podrán hacer uso de lo expuesto en este párrafo públicamente y para beneficio propio.
<br /><br />
GANADORES Y ENTREGA DEL PREMIO.
<br /><br />
Las cinco participantes que sean escogidas conforme a lo establecido en el párrafo segundo del número IV de estas bases, relativo a la mecánica, para participar en La Final, serán publicadas en las páginas web de www.tributosport.com. 
<br /><br />
Es entera responsabilidad de los participantes revisar diariamente los sitios web de Matriclick para ver si recibieron su premio. No es responsabilidad de Ripley ni de Matriclick asegurar la entrega de la confirmación señalada en el párrafo anterior. Así, la única vía en que se entregará la información serán las páginas web correspondientes.
<br /><br />
 ACEPTACIÓN Y MODIFICACIÓN DE LAS BASES
<br /><br />
La participación en este concurso implica la total e incondicional aceptación de estas bases por parte del usuario participante, quedando Ripley y Matriclick liberados de cualquier reclamo o acción posterior que signifique disconformidad con el concurso y toda su reglamentación.
Ripley y Matriclick podrán modificar estas bases de cualquier forma que estimen, informando a los participantes de la misma forma en que fueron informadas estas bases.
<br /><br />
<%= link_to 'Volver al concurso', despedida_de_soltera_path, :class => 'blue' %>
