<div id="fondo_travelite2">
	<%= image_tag("contests/fondo2.png") %> 
</div>

<div class="logo_travelite_bases">
	<%= image_tag("contests/logo.png") %> 
</div>

<div class="tipografia_travelite_bases">
	¡TE REGALA UNA ESTADÍA PARA DOS PERSONAS!
</div>

	<div id="bases_travelite">
		<b><big>Bases y Condiciones de participación</big></b><br/>
		<br/>
		<b>Características del Concurso</b><br/>
		Artículo 1º.- La empresa Innoventos Spa, Rol Único Tributario Nº 76.172.673-0, en adelante, indistintamente mencionada como “Matriclick” o “la Empresa”, realizará un concurso junto a la agencia de diseños de viajes Travelite, a través de la página web www.matriclick.com en el cual los concursantes podrán participar y ganar los premios indicados en el artículo 7º de las presentes bases. El concurso se realizará entre las fechas martes 18 de diciembre de 2012 hasta el día jueves 13 de marzo de 2013. 
		<br/>Artículo 2°.- Matriclick y Travelite, velara´ por el cumplimiento de las presentes bases y tomara´ las decisiones necesarias que digan relación con el concurso, las cuales no serán susceptibles de reclamación. 
		<br/>Artículo 3°.- El presente concurso tiene dos objetivos, el primero dar a conocer Travelite  como una agencia de diseño de viaje de los más altos estándares de calidad el segundo objetivo tiene relación con masificar la plataforma virtual Matriclick que permite a los novios la ayuda en la organización de matrimonios dentro del territorio nacional. El concurso está dirigido a parejas.

		<br/><br/><b>¿Quiénes pueden participar?</b>

		<br/>Artículo 4°.- Podrán participar todas aquellas personas naturales que se inscriban debidamente en la página web www.matriclick.com o a través de otro medio autorizado por Matriclick, durante los plazos establecidos por ésta.
		<br/>Artículo 5°.- La participación en el concurso deberá ser en parejas, de un hombre y una mujer. Cada pareja podrá inscribirse una sola vez. La inscripción deberá realizarse en pareja y debe contar con dos RUT válidos de las personas. Al menos uno de los participantes debe tener residencia en Chile al momento de la inscripción.
		<br/>Artículo 6°.- No podrán participar en el concurso los trabajadores, agentes, dependientes, estudiantes en práctica o colaboradores permanentes de Matriclick o Travelite, como tampoco sus cónyuges y parientes hasta el tercer grado de parentesco por consanguinidad o afinidad.

		<br/><br/>
		<b>Premios</b>
		<br/>
		Artículo 7°.- Se entregará el siguiente premio: 
		<br/>PREMIO: El resultado del nombre del ganador se dará a conocer en el mes de marzo de 2012, que se le otorgará a la pareja que obtenga el primer lugar en el concurso.
		<br/>•	El premio consiste en una estadía para dos personas de 8 días y 7 noches en un Hotel 5 estrellas, habitación Junior Suite. El premio es entregado por la agencia de diseños de viaje Travelite.
		<br/><br/>
		Se deben estipular algunas restricciones:
		<br/> 
		1.   Reservas sujetas a disponibilidad del hotel.<br/>
		2.   No válido para temporadas altas Enero, Marzo, Julio, Septiembre y Diciembre<br/>
		3.   Reservas deben ser hechas a través de Travelite con un mes de anticipación.<br/>
		4.   No es transferible ni cambiable por dinero ni especies de ninguna índole.<br/>
		5.   Premio válido hasta 22 de Diciembre de 2013.<br/>

		<br/>Artículo 8°.- El premio es de carácter intransferible y tendrán una vigencia de 10 meses desde la fecha de la publicación de los ganadores, luego de este plazo no tendrá validez ya que el premio tiene vigencia hasta el 22 de diciembre de 2013.
		<br/>Artículo 9°.- Matriclick y Travelite podrán, según lo estime conveniente, extender el plazo de vigencia de la promoción, para lo cual se informará oportuna y adecuadamente a los participantes. Con todo Matriclick y Travelite, por razones de fuerza mayor o caso fortuito, podrá poner término anticipado a la promoción, informando en su efecto a los participantes, lo cual no generará responsabilidad de ningún tipo para Matriclick. En este caso, los seleccionados  para el premio se harán entre los participantes que hayan alcanzado a concursar durante la vigencia de la promoción, es decir, que hayan realizado la inscripción que los habilita para participar y que hayan ingresado sus datos en el mencionado sitio Web, todo ello durante el período de vigencia de esta promoción y dentro de los plazos señalados en las presentes bases. 
		<br/><br/>
		<b>Participación y Modalidad del Concurso</b>
		<br/>
		Artículo 10°.- El cronograma de concurso será el siguiente: <br/>
		-	Lanzamiento oficial del concurso será el martes 18 Diciembre del 2012. <br/>
		-	Se lanzará a través de la página web de Matriclick www.matriclick.com<br/>
		-	La primera fase del concurso será desde el martes 18 de diciembre 2012 hasta el 31 de Enero de 2013.<br/>
		-	La segunda fase del concurso será desde el 1 de Febrero hasta el 10 de Marzo de 2013.<br/>
		-	Se entregará el nombre de la pareja ganadora del concurso el día jueves 13 de marzo del 2013. <br/>

		<br/>Artículo 11°.- Podrán participar en el concurso todas las personas que ingresen a www.matriclick.com y que se hagan socios a la página o que ya sean socios. Los participantes que se inscriban con posterioridad a la primera fase, no podrán participar en el concurso. 
		<br/>Artículo 12°.- El concurso consiste en votar por el destino que la pareja prefiera y se sienta identificado. Se puede votar por “Playero” o “Viajero” a través de la página web www.matriclick.com Luego en la segunda fase, solo pasará aquel grupo que obtenga más “me gusta” en el fan page de facebook. Las parejas del grupo ganador deberán subir una fotografía por concursante a la página de Matriclick hasta el domingo 10 de marzo de 2013. La imagen puede ser del tipo que estime conveniente la pareja, una foto de ellos, un paisaje, una caricatura y que refleje la palabra: “Playeros” o “Viajeros”. Las 10 fotos que obtengan más “me gusta” pasarán a la final, la foto ganadora será elegida por tres fotógrafos de Matriclick.
		<br/>Artículo 13°.- La elección del ganador del concurso será seleccionada por tres fotógrafos de Matriclick.  La elección del ganador se hará por los fotógrafos en completo anonimato del nombre de los concursantes, los que elegirán la imagen de acuerdo a un puntaje, el participante con más puntaje será el ganador, en caso de empate la decisión será tomada por uno de los miembros de Matriclick y Travelite anteriormente definido. 
		<br/>Artículo 14°.- Matriclick, se reserva el derecho de descartar imágenes que pudiesen resultar de mal gusto u ofensivas. 
		<br/>Artículo 15°.- Los participantes eximen de toda responsabilidad a Matriclick en el caso de cualquier reclamación que terceras personas pudieran hacer respecto a la titularidad de los derechos de autor, sobre las imágenes entregadas a Matriclick para el concurso, y se obliga a indemnizar los daños y perjuicios que sufra la Sociedad como consecuencia directa de alguna acción legal iniciada por terceros invocando titularidad de derechos. 
		<br/>Artículo 16°.- Todos los concursantes, autores de frases y/o imágenes y titulares de los derechos de autor de éstas, por el hecho de participar en este concurso otorgan licencia para ser reproducidas y difundidas por Matriclick o por Travelite o a quién éstas designen, exclusivamente en el material de difusión del concurso y en los resultados de éste. Los participantes eximen a Matriclick y Travelite por la divulgación de este material hecho por terceros y sin el consentimiento de Matriclick.
		<br/>Artículo 17°.- La pareja ganadora del premio se compromete a dar el derecho a Matriclick para usar sus nombres en la página oficial de Matriclick y de Travelite y hacer uso de su foto ganadora. 
		<br/>Artículo 18°.- El ganador del premio será publicado en la página web. El premio deberá ser validado por alguno de los concursantes de la pareja ganadora, a través de la agencia Travelite y en un plazo máximo de 7 días corridos, contados desde la publicación del ganador en el sitio web. En caso de que la pareja no valide el premio en el plazo mencionado anteriormente, el premio se declarará desierto y se volverá a sortear o elegir el nuevo ganador la semana siguiente de transcurrido el plazo, según corresponda. Se les enviará un correo electrónico a todos los participantes avisándoles que se han publicado los ganadores. Es responsabilidad de los concursantes revisar periódicamente el sitio web y validar su premio en el plazo definido anteriormente. Ni Matriclick ni Travelite  se hacen responsables de la correcta recepción del correo electrónico enviado, es decir, se exime a Matriclick y Travelite de toda responsabilidad ya sea que el correo rebote, sea redirigido a una carpeta de correos no deseados o cualquier situación que prevenga al concursante de revisar la información enviada. 
		<br/><br/>
		<b>Aspectos Legales</b>
		<br/>
		Artículo 19°.- El simple hecho de participar en el presente concurso a través de elegir “Playeros” o “Viajeros” implica el conocimiento y aceptación de las condiciones de participación y de las presentes bases, quedando Matriclick y Travelite liberado de cualquier reclamo o acción posterior que signifique disconformidad con la promoción y toda su reglamentación. 
		<br/>Artículo 20°.- Un representante de Matriclick tendrá la facultad de solucionar y decidir sobre cualquier aspecto no previsto en las bases, lo que no será susceptible de reclamación alguna.
		<br/>Artículo 21°.- Matriclick y Travelite se reserva el derecho de iniciar acciones legales que estime procedentes en el caso de detectar alguna irregularidad con relación al desenvolvimiento del concurso regulado por estas bases.
		<br/>Artículo 22°.- Matriclick podrá modificar las presentes bases, informando a los participantes del concurso de la misma forma en que fueron informadas las presentes bases.
		<br/>Artículo 23°.- Matriclick podrá usar la información recopilada para entregarle a las parejas información relevante del concurso. También Matriclick podrá enviarle a los novios otro tipo de información que Matriclick considere de valor ya sea con contenido propiamente tal de Matriclick o de alguno de nuestros socios.
		<br/>Artículo 24°.- El canal de comunicación válido y oficial para todos los propósitos del concurso será www.matriclick.com
		<br/>Artículo 25°.- El otorgamiento de información errónea, no fidedigna o falsa, en la postulación al concurso, habilitará a Matriclick.com a excluir a él o los participantes que hubiesen proporcionado la misma. 
		<br/>Artículo Final: En el desenvolvimiento y la designación de los ganadores, así como la participación de los concursantes, regirán las presentes bases.
	</div>

<div class="btn_volver">
	<%= link_to image_tag("contests/volver.png"), contests_travelite_path %> 
</div>
<div id="frase_travelite">
	<i>*Si quieres conocer otros planes y destinos visítanos en <%= link_to 'www.travelite.cl', 'http://www.travelite.cl', target: '_blank' %></i>
</div>
