<% conversations.each do |conversation| %>
	<div class="conversation_box <%= "unread" if conversation.count_of_supplier_unread_messages > 0 %>">
		<div class="time_in_words">
			<%= distance_of_time_in_words(Time.now, conversation.messages.last.created_at) %>
		</div>
		<div class="wedding_couple_message">
			<%= link_to content_tag(:b, crop_if_longer(conversation.conversable.name, 30)) + " :: " + conversation.user.user_account.get_wedding_first_name.to_s, conversation_path(:id => conversation.id, :supplier_id => params[:supplier_id])  %>
		</div>
		<div class="conversation_last_content">
			<%= conversation.messages.last.content %>	
		</div>			
	</div>
<% end %>
