<h3>Change password <%= @supplier_account.supplier.email %></h3>
<hr/>
<%= render :template => 'suppliers/passwords/edit', 
                    :locals => { :resource => @supplier_account.supplier, :resource_name => "supplier", :reset_password_token => @token } %>