<div class="titulos">
	Check List de tareas a realizar
</div>
<div class="box">
	<div class="box_checklist">
		
		<div class="checklist_header">
			<div class="checklist_check">
				Listo
			</div>
			<div class="checklist_titulo">
				Check List
			</div>
			<div class="checklist_see_more_titulo">
				Descripción
			</div>
		</div>
		
		<div class="checklist_content cl_light_gray">
			<div class="checklist_check">
				<input type="checkbox"><!-- Esto es solamente para mostrar donde va el checkbox -->
			</div>
			<div class="checklist_titulo">
				Inscríbete en alguna multitienda (para empezar desde ya a juntar puntos!) <!-- Esto es solamente para mostrar donde va el titulo de cada tarea a realizar por los novios -->
			</div>
			<div class="checklist_see_more">
				ver más
			</div>
		</div>
		
<!-- Esta es la descripción que se despliega al hacer click en el botón "ver más" -->		
		<div class="checklist_descripcion">
			<div class="cl_d_titulo">
				Descripción de la Tarea
			</div>
			<div class="cl_d_texto">
				Donec sed odio dui. Cras mattis consectetur purus sit amet fermentum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Cras mattis consectetur purus sit amet fermentum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur ac, vestibulum at eros.
			</div>
		</div>
<!-- FIN (Esta es la descripción que se despliega al hacer click en el botón "ver más") -->

		<div class="checklist_content cl_gray">
			<div class="checklist_check"> <!-- Esto es solamente para mostrar donde va el checkbox -->
				<input type="checkbox">
			</div>
			<div class="checklist_titulo">
				Haz una lista tentativa de los invitados <!-- Esto es solamente para mostrar donde va el titulo de cada tarea a realizar por los novios -->
			</div>
			<div class="checklist_see_more">
				ver más
			</div>
		</div>
		
	</div>
	<div class="clear"></div>
</div>