<div class="right_link">
	<%= link_to t('cancel'), supplier_account_service_schedule_path(@supplier, @service), :class => :button %>
</div>
<div class="titulos">
	<%= t 'editing_open_hour' %>
</div>
<div class="box">
	<%= render 'form' %>
</div>

