<p style="font-family: Helvetica, sans-serif; font-size: 10pt;">Estimad@,</p>
 
<p style="font-family: Helvetica, sans-serif; font-size: 10pt;">En nombre del equipo de <a style = "color: #888;" href= 'http://www.matriclick.com'>Matriclick.com</a> te doy una cordial bienvenida a la primera comunidad colaborativa de novios y proveedores en Chile.</p>

<h2 style="font-family: Helvetica, sans-serif; font-size: 12pt; margin-top:20px;">¿Qué es Matriclick.com?</h2>
<p style="font-family: Helvetica, sans-serif; font-size: 10pt;"><a style = "color: #888;" href= 'http://www.matriclick.com'>Matriclick.com</a> es la primera comunidad en Chile que reúne a novios, proveedores e invitados para que juntos se apoyen conmpartiendo sus comentarios sobre los distintos proveedores y entregando referencias directas cuando son requeridas. En <a style = "color: #888;" href= 'http://www.matriclick.com'>Matriclick.com</a> los novios  tienen distintas herramientas para organizar su matrimonio, pudiendo pueden cotizar productos y servicios, gestionar su presupuesto, organizar las mesas de invitados y muchas otras cosas que les facilitan la organización y nos permitern recaudar valiosa información para que te entreguemos recomendaciones que te permitan mejorar y ajustar tu producto a las necesidades que los novios de hoy tienen.</p>

<p style="font-family: Helvetica, sans-serif; font-size: 10pt;">Por otra parte los <span style="font-weight:bolder; text-decoration:underline;">Socios</span> (proveedores de servicios) tienen su propio espacio, en el cual pueden subir sus imágenes, información, videos, etc. Además pueden llevar un registro estadístico de las cotizaciones que se realicen a través de nuestro sitio, y una asesoría continua de nosotros para mejorar su exposición hacia los novios.</p>

<h2 style="font-family: Helvetica, sans-serif; font-size: 12pt;margin-top:20px;">¿Cómo empezar a usar Matriclick.com?</h2>
<p style="font-family: Helvetica, sans-serif; font-size: 10pt;">La idea es que en esta etapa puedas empezar a completar tu perfil y mantenerlo siempre actualizado. Recuerda que este sitio ¡lo construimos entre todos!</p>

<p style="font-family: Helvetica, sans-serif; font-size: 10pt;">Consulta por nuestros planes que se ajustan a cada realidad enviando un correo a socios@matriclick.com.</p>

<p style="font-family: Helvetica, sans-serif; font-size: 10pt;">Te enviaremos un informativo semanal, para contarte en qué estamos y cuáles son los próximos pasos a seguir. Para cualquier inquietud o comentario, por favor no dudes en contactarme.</p>

<p style="font-family: Helvetica, sans-serif; font-size: 10pt;">Recibe un cordial saludo de mi parte,</p>

<p style="font-family: Helvetica, sans-serif; font-size: 10pt;">Carolina Gaete</p>
<p style="font-family: Helvetica, sans-serif; font-size: 8pt;"><i>Co-fundadora - Partner Experience Manager</i></p>

<%= image_tag attachments['firma_matriclick.jpg'].url, alt: 'Logo Matriclick.com', style: "align:center;" %>

<i><p style="font-family: Helvetica, sans-serif; font-size: 8pt; color: #777;">Este mensaje podría contener información confidencial o privilegiada. Si usted no es el receptor esperado de este correo electrónico no debe divulgarlo, usarlo para cualquier fin o tomar cualquier acción basada en la información contenida en éste. Si usted ha recibido este mensaje por error, por favor, notifique inmediatamente al emisor y bórrelo. Muchas Gracias.</p></i>
