<div class="right_link">
  <%= link_to t('cancel'), campaign_user_account_infos_path, :class => :button%>
</div>
<div class="titulos">
	<%= "Editar Información de cuenta de usuario" %>
</div>

<div class="box_form">
	<div class="help_tip">
		<%= t'helptip.required' %><br/>
	</div>
	<%= render 'form' %>
</div>

