<div class="titulos padding">
	Cómo Nace Matriclick.com?
</div>
<div class="document_box">
<div class="documento">	
	<br />	
		<p><b style="color:#333">Matriclick ha ido evolucionando en el tiempo...</b></p>
		<br />
		<div style="float:right; padding-left:15px"><%= image_tag "icono_mesas.jpg" %></div>

		<p>Todo comenzó una noche de Mayo en la casa de los suegros de uno de los socios. Su cuñado, que se casaba, comenzó a discutir sobre cómo <b style="color:#333">organizar las mesas de su matrimonio.</b> Durante esa conversación se dio cuenta que la tarea no era tan simple como todos piensan, llegar de una larga lista de invitados  a la distribución que permita que todos invitados estén lo más a gusto posible pasa a ser un desafío. Ordenar y re-ordenar una y mil veces la distribución es algo por lo que deben pasar todos los novios.</p> 
			
		<br />
		<p>Esta idea lo mantuvo perturbado durante un par de semanas hasta que se juntó con otro de los fundadores para comentarle sobre la dificultad que tienen los novios para organizar el matrimonio a su medida y poder hacer cosas que parecen tan triviales como organizar una mesa. Discutieron largamente sobre el problema que enfrentaban los novios cuando querían casarse, <b style="color:#333">donde el sólo hecho de elegir un lugar y fecha para casarse,</b> consiste en un proyecto muy complejo. Decidieron convencidamente que en ese momento no existía una buena solución y que ellos serían capaces de implementarla.</p> 
		
		<br />
		<div style="float:left; padding-right:15px"><%= image_tag "icono_presupuesto.jpg" %></div>
		
		<p>Un par de semanas más tarde y luego de atacar el problema desde varias aristas, se unió al equipo una tercer integrante que llegó repentinamente diciendo "hay un excel que da vuelta y los novios no conocen más que eso, por lo que <b style="color:#333">no ven todas las alternativas disponibles,</b>. Además, cuadrar las fechas de disponibilidad del centro de evento, baquetera y todos los proveedores que participarán del matrimonio es muy difícil, ¡tenemos que armar una solución!". Ya estaba decidido y no había vuelta atrás, ellos cambiarían el futuro en la forma de organizar los matrimonios. Ahora faltaba trabajar duro y lograr implementar todo lo que tenían en sus cabezas.</p> 

		<br />
		<div style="float:right; padding-left:15px"><%= image_tag "icono_invitados.jpg" %></div>
		<p>Para lograr aterrizar estas ideas analizaron distintas opciones. Sabían que necesitaban incluir a personas altamente calificadas que fueran capaces de <b style="color:#333">desarrollar la tecnología de punta que permitiera re-inventar cómo se organizan los matrimonios</b>. Luego de un tiempo conocieron a un tremendo equipo que se había formado recientemente como empresa de desarrollo de software llamada Redvel, quien creyó en la idea, tanto como para asociarse y trabajar activamente para crear Matriclick. La incorporación de esta empresa fue clave para dar el empujón que necesitaba Matriclick.</p> 
		
		<br />
		<p>Y fue así como estos cuatro pilares dieron vida a este hermoso proyecto que se inició en una conversación de mesa y luego de un tiempo llegará a convertirse en un referente para los matrimonios en Chile.</p> 
		
		<br />
		<p><b style="color:#333">Comentarios de novios Matriclick</b></p>
		<br />
		<p style="padding-left:15px"><i>"Matriclick es algo único, es el primer centro de encuentro donde los ex-novios puedan ayudar a los novios actuales con comentarios, recomendaciones y referencias de los proveedores que usaron.”</i></p> 
		<br />
		<p style="padding-left:15px"><i>“Matriclick genera un entorno colaborativo perfecto para poder conocer experiencias de novios que ya se casaron, para que así permiten que los nuevos novios hagan el matrimonio que quieren, como quieren.”</i></p>
		<br />	
	<br />	
	<div style="text-align:center">
	<iframe src="http://player.vimeo.com/video/35330010?title=0&amp;byline=0&amp;portrait=0" width="601" height="338" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>
</div>
</div>
