<h1>¿Quiénes Somos?</h1>
<div class="clear"></div>

<div class="document_box">
	<div class="documento">	
		<h2>¡Buena preguta!</h2>
		<p><b style="color:#333">Nuestra visión:</b> COMPLETAR</p><br />
		<p><b style="color:#333">Nuestra misión:</b> COMPLETAR</p>
		<p><b style="color:#333">El equipo:</b> somos una empresa joven, compuesta por un <b style="color:#333">equipo multi-disciplinario de ingenieros, publicistas, diseñadores y periodistas</b>. Ingresa a nuestro perfil de <%= link_to 'LinkedIn', 'http://www.linkedin.com/company/matriclick-com', :target => '_blank'%> para conocernos.</p><br />
	
		<div class="imagen_grupo_matriclick">
			<b style="color:#333;">¡Te invitamos a ser parte!<br /><br />
				<%= link_to image_tag('footer/social-black-facebook.jpg'), 'https://www.facebook.com/tributosport', 
						:target => '_blank' %> 
				<%= link_to image_tag('footer/social-black-twitter.jpg'), 'https://twitter.com/tributosport', 
							:target => '_blank' %>
				<%= link_to image_tag('footer/social-black-pinterest.jpg'), 'http://pinterest.com/tributosport', 
					:target => '_blank' %>
				</b>
		</div>
	
		<div class="clear"></div>

	</div>
</div>