<div class="titulos padding">
	Criterios de Ingreso
</div>
<div class="tabla_documento">
<div class="box">	
<br />
<p>*En todos los casos Matriclick.com se reserva el derecho de admisión.</p>
<table>
	<tr>
		<th>Pre Fiesta</th>
		<th>Descripción</th>
		<th>Persona Jurídica</th>
		<th>Oficina Física</th>
		<th>Teléfono Fijo</th>
		<th>Experiencia Min o Referencias</th>
		<th>Certificaciones Sanitarias</th>
		<th>Cuenta de Banco (empresa)</th>
		<th>Facilidades de Pago</th>
		<th>Patentes</th>
		<th>Otro</th>
	</tr>
	<tr>
		<td>Argollas</td>
		<td></td>
		<td>X</td>
		<td>X</td>
		<td>X</td>
		<td></td>
		<td></td>
		<td></td>
		<td>X</td>
		<td>X</td>
		<td></td>
	</tr>
	<tr class="blanco">
		<td>Ajuar</td>
		<td>Lenceria / Sábanas / Toallas</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Peinado y Maquillaje</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="blanco">
		<td>Centro de estética</td>
		<td>Solarium / Tratamientos</td>
		<td>X</td>
		<td>X</td>
		<td>X</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Joyas  y accesorios Novia</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="blanco">
		<td>Accesorios Novio</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Vestidos y calzados Novia</td>
		<td>Nuevos / Arrendar / Mandados a Hacer</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="blanco">
		<td>Vestidos y calzados Novio</td>
		<td>Nuevos / Arrendar / Mandados a Hacer</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Despedida de Soltero (a)</td>
		<td>X</td>
		<td>X</td>
		<td>X</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="blanco">
		<td>Partes y Detalles</td>
		<td>Invitaciones / Recuerdos / Agradecimientos</td>
		<td>X</td>
		<td>X</td>
		<td>X</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Transporte Fiesta</td>
		<td>X</td>
		<td>X</td>
		<td>X</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Fiesta</th>
		<th>Descripción</th>
		<th>Persona Jurídica</th>
		<th>Oficina Física</th>
		<th>Teléfono Fijo</th>
		<th>Experiencia Min o Referencias</th>
		<th>Certificaciones Sanitarias</th>
		<th>Cuenta de Banco (empresa)</th>
		<th>Facilidades de Pago</th>
		<th>Patentes</th>
		<th>Otro</th>
	</tr>
	<tr>
		<td>Iglesia</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="blanco">
		<td>Centro de Eventos</td>
		<td></td>
		<td>X</td>
		<td>X</td>
		<td>X</td>
		<td></td>
		<td></td>
		<td>X</td>
		<td>X</td>
		<td>X</td>
		<td>Capacidad mínima 100 pers.</td>
	</tr>
	<tr>
		<td>Banqueteras</td>
		<td></td>
		<td>X</td>
		<td>X</td>
		<td>X</td>
		<td></td>
		<td></td>
		<td>X</td>
		<td>X</td>
		<td>X</td>
		<td></td>
	</tr>
	<tr class="blanco">
		<td>Coros</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>X</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Florerías</td>
		<td>Decoración / Ramo</td>
		<td>X</td>
		<td>X</td>
		<td>X</td>
		<td></td>
		<td></td>
		<td>X</td>
		<td>X</td>
		<td></td>
		<td></td>
	</tr>
	<tr class="blanco">
		<td>Dj y Música</td>
		<td></td>
		<td>X</td>
		<td></td>
		<td>X</td>
		<td>X</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Orquesta</td>
		<td></td>
		<td>X</td>
		<td></td>
		<td>X</td>
		<td>X</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="blanco">
		<td>Fotografía y video</td>
		<td></td>
		<td>X</td>
		<td></td>
		<td>X</td>
		<td>X</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Cotillón</td>
		<td></td>
		<td>X</td>
		<td>X</td>
		<td>X</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	<tr class="blanco">
		<td>Entretención Fiesta</td>
		<td>Carritos comida / Batucadas </td>
		<td>X</td>
		<td>X</td>
		<td>X</td>
		<td></td>
		<td>X</td>
		<td></td>
		<td>X</td>
		<td>X</td>
		<td></td>
	</tr>
	<tr>
		<td>Vinos y Licores</td>
		<td></td>
		<td>X</td>
		<td>X</td>
		<td>X</td>
		<td></td>
		<td></td>
		<td></td>
		<td>X</td>
		<td>X</td>
		<td></td>
	</tr>
	<tr class="blanco">
		<td>Iluminación</td>
		<td></td>
		<td>X</td>
		<td>X</td>
		<td>X</td>
		<td></td>
		<td></td>
		<td></td>
		<td>X</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>Carpas</td>
		<td></td>
		<td>X</td>
		<td>X</td>
		<td>X</td>
		<td></td>
		<td></td>
		<td></td>
		<td>X</td>
		<td></td>
		<td></td>
	</tr>
	<tr class="blanco">
		<td>Baños Eventos</td>
		<td></td>
		<td>X</td>
		<td>X</td>
		<td>X</td>
		<td></td>
		<td></td>
		<td></td>
		<td>X</td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<th>Post Fiesta</th>
		<th>Descripción</th>
		<th>Persona Jurídica</th>
		<th>Oficina Física</th>
		<th>Teléfono Fijo</th>
		<th>Experiencia Min o Referencias</th>
		<th>Certificaciones Sanitarias</th>
		<th>Cuenta de Banco (empresa)</th>
		<th>Facilidades de Pago</th>
		<th>Patentes</th>
		<th>Otro</th>
	</tr>
	<tr>
		<td>Agencias de Viaje</td>
		<td></td>
		<td>X</td>
		<td>X</td>
		<td>X</td>
		<td></td>
		<td></td>
		<td></td>
		<td>X</td>
		<td></td>
		<td></td>
	</tr>
	<tr class="blanco">
		<td>Hoteles</td>
		<td></td>
		<td>X</td>
		<td>X</td>
		<td>X</td>
		<td></td>
		<td></td>
		<td></td>
		<td>X</td>
		<td>X</td>
		<td></td>
	</tr>
	<tr>
		<td>Créditos Hipotecarios</td>
		<td></td>
		<td>X</td>
		<td>X</td>
		<td>X</td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td>Bancos tradicionales</td>
	</tr>
</table>
<br />
<br />
<p>(*) Para los casos particulares por favor envía un correo a proveedores@matriclick.com</p>	
</div>
</div>
<br />
