<div class="titulos padding">
	Preguntas Frecuentes
</div>
<div class="document_box">
<div class="documento">	
<br />	
	<p><b style="color:#333">¿El servicio tiene costo para los novios?</b></p><br>
	<p>No. Sin embargo existen algunas funcionalidades adicionales que próximamente deberán ser pagadas para que se activen.</p>
<br />		
	<p><b style="color:#333">¿En algún minuto cobrarán por usar las funcionalidades básicas?</b></p><br>
	<p>No. Nunca. Los usuarios registrados siempre podrán ver a los proveedores y sus ofertas de forma 100% gratis, además de usar varias herramientas que no tienen cobro.</p>
<br />	
	<p><b style="color:#333">¿Los valores que publican los proveedores tienen un recargo adicional o es el mismo al cotizarlos de manera externa?</b></p><br>
	<p>Son los mismos precios. El contrato que firmamos con nuestros proveedores los obliga a poner los precios reales que cobran cuando un novio va a cotizar por su cuenta.</p>
<br />
	<p><b style="color:#333">¿Puedo comprar en línea?</b></p><br>
	<p>Hay algunos productos y servicios que sí se pueden reservar y pagar en línea. Otros no. Depende de cada proveedor y las características de su oferta.</p>
<br />
	<p><b style="color:#333">¿Cómo funcionan mis reservas y qué validez tienen?</b></p><br>
	<p>Todas las reservas son legalmente válidas. El contrato que firmamos con nuestros proveedores los obliga a respetarlas. Sin embargo te debes fijar muy bien en las condiciones y restricciones que existen para las reservas ya que no todas son iguales.</p>
<br />
	<p><b style="color:#333">¿Los regalos que se compran a través del sitio, tienen un recargo adicional o es el mismo al cotizarlos de manera externa?</b></p><br>
	<p>Son los mismos precios. El contrato que firmamos con nuestros proveedores los obliga a poner los precios reales que cobran cuando un novio va a cotizar por su cuenta.</p>
<br />
	<p><b style="color:#333">¿Cómo gana Matriclick.com dinero?</b></p><br>
	<p>Como en Matriclick.com nos aseguramos que los proveedores que estén publicando ofertas en la página sean serios, nosotros le cobramos una tarifa a ellos (a diferencia de varias páginas). También, como te habrás dado cuenta, existen herramientas que deben ser pagadas para que se activen. Esto nos permite entregar un servicio de gran calidad a todos los novios que vivan la experiencia Matriclick.com.</p>
</div>
</div>