<h1>Trabaja con Nostros</h1>
<div class="clear"></div>
<div class="document_box">
	<div class="documento">
		<div style="float:right; padding-left:15px"><%= image_tag "lupa.png" %></div>	
		<h2>Buscamos emprendedores</h2>
		<p>Son bienvenidas las personas con ganas de inventar el futuro, que son emprendedoras, visionarias y que quieren trabajar en un ambiente informal, amigable y exigente.</p>
		<hr>
		<p>Si te interesa unirte al equipo envíanos el link a tu perfil de <b>LinkedIn</b> a: 
			<i class="black">talentos@matriclick.com</i>.</p>
		<div style="text-align:center">
			<p><b style="color:#333">¡Te queremos conocer!</b></p>
			<br />
			<%= image_tag "foto_invitados.jpg" %>
		</div>
	</div>
</div>
