<div class="right_link">
	<%= link_to t('cancel'), supplier_account_important_dates_path(@supplier), :class => :button %>
</div>
<div class= "titulos">
	<%= t 'edit_important_date'%>
</div>

<div class="box">
		<%= render 'edit_form' %>
</div>
