<div class="right_link">
	<%= link_to 'Back', contact_types_path, :class => :button %>
</div>
<div class="titulos">	
	<%= t('editing contact_type') %>
</div>
<div class="box">
	<%= render 'form' %>
</div>


