<% content_for :content do %>
	<table width="95%" cellpadding="30">
		<tr>
			<td align="left">
				<font face="Lucida Grande, Segoe UI, Arial, Verdana, Lucida Sans Unicode, Tahoma, Sans Serif">
					Hola <%= @user.email || "Usuario" %>,<br/><br/>
					¡Mira estos nuevos productos!<br/><br/>
					<% @dresses_id.each do |dress_id|%>
						- <%= Dress.find(dress_id).introduction %><br />
					<% end %>
				</font>
			</td>
		</tr>
	</table>
<% end %>

<%= render "layouts/email_template" %>