 <h2><%= @activity.errors.count > 1 ? t("activerecord.errors.template.header.other") : t("activerecord.errors.template.header.one") %>:</h2>
		<ul>
		<% @activity.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>        
		<% end %>
    </ul>
