<div class="titulo_style">
	<h1>Editing industry_category</h1>
</div>

<div class="in_content_box center">
	<div class="gray_box">
		<%= render 'form' %>	
	</div>
</div>

<br />
<div class="bottom_buttons">
	<%= link_to 'Show', @industry_category, :class => :button %>
	<%= link_to 'Back', industry_categories_path, :class => :button %>
</div>
<br />