<div class="right_link">
	<%= link_to 'Show', @post %> |
	<%= link_to 'Back', posts_path, :class => :button %>
</div>
<div class="titulos">
	Editar este Post!
</div>
<div class="box">
	<%= render 'form' %>
	<br />
	<br />
	<br />
</div>


