// Place all the styles related to the Bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
.can_not_be_confirmed{
	background: #000;
}
.related_confirm{
	background: #111;
}
.is_confirmed{
	background: #222;
}
.is_expired{
	background: #333;
}
.is_unconfirmed{
	background: #444;
}*/

