.position_button_tour {
  float: right;
  margin: -73px 18px 0 0;
  right: 40px;
}
.tour_titulo {
	font-size:24px;
	font-weight:lighter;
	color:#666;
	text-align:center;
	position:relative;
	top:20px;
}
.dos_columnas {
	float:left;
	width:700px;
	padding:20px 0 20px 150px;
}
.columna_imagen {
	width:320px;
	height:auto;
	margin:0 10px;
}
.columna_texto {
	width:280px;
	padding-top:30px;
}
h2.titulo {
	font-size:16px;
	font-weight:bold;
	padding-bottom:10px;
}
p.texto {
	font-size:13px;
	font-weight:lighter;
}
.columna_texto_last {
	width:280px;
	position:relative;
	top:-15px;
}

