<div style="font-weight:bold; margin-top:20px;">15% de descuento pagando con tarjetas del Banco de Chile</div>
<br />
<div style="color:#545454">
Dcto. válido sólo para clientes que paguen con Tarjetas del Banco de Chile. Dcto. se realiza en el momento de la compra y es de responsabilidad de "Matriclick.com" no cabiéndole a Banco de Chile responsabilidad alguna en ello, ni en la ulterior atención que ello demande. Válido desde el 22 de abril al 31 de Mayo del 2013. Banco de Chile. Infórmese sobre la garantía estatal de los depósitos en su banco o en www.sbif.cl
</div>