<div style="font-weight:bold; margin-top:20px;">DESPACHO</div>
<hr>
<div style="color:#545454">
	Nuestros plazos de envío son a partir del momento en que efectúas tu compra
	<br /><br />
	Si eres de Santiago o de Regiones, considera desde 4 a 8 días hábiles para que tu compra esté en el lugar deseado.
	<br /><br />
	Si al momento de llevar el o los producto/s a la dirección de envío no hay nadie que lo pueda recibir, el producto tendrá que ser recogido en nuestras oficinas.
	<br /><br />
	Servicio Ultrarápido: Si necesitas el o los productos en menos de 2 días, te ofrecemos el servicio de Despacho Express con un costo adicional de $3.000. Al momento de confirmar tu compra debes seleccionar esta opción.
	<br /><br />
	<b>¿Ayuda, preguntas o dudas?</b>
	<br /><br />Escríbenos a <a href="mailto:contacto@tramanta.com?Subject=Consulta Vestidos">contacto@tramanta.com</a> o llámanos al +56 9 7615 5005
</div>