<ul>
	<li><%= link_to 'Ropa deportiva', dresses_ver_path(:type => "ropa") %></li>
	<li><%= link_to 'Productos', dresses_ver_path(:type => "producto") %></li>
	<li><%= link_to 'Sports Blog', blog_el_bazar_path %></li>
</ul>