<div class="not_found">
	<h2>Ouch...!</h2><h3>No encontramos lo que estabas buscando...</h3>
	<%= image_tag 'el_bazar/not-found.jpg', alt: 'búsqueda no encontrada' %> <br />
	<h3>¡Sigue buscando! </h3>
	<div style="text-align:center;">
		<%= form_tag(dresses_search_path, :method => "get") do %>
			<%= text_field_tag(:q, @search_term, size: '55x10', id: 'main_search', 
				value: 'Busca por color, talla, tela, etc...', rel: 'Busca por color, talla, tela, etc...') %>
			<%= submit_tag("Buscar", :class => 'button_filter_black') %>
		<% end %>
	</div>
</div>
