<div style="display:none"> <!-- fancy view -->
	<div id="sell_dress">
		<div class="sell_dress_full_content" style="background: url(<%= asset_path "vende_tu_vestido.jpg" %>);">
			<div class="sell_dress_titulo">
				¡Vende tu vestido usado en Matriclick.com!
			</div>
			<div class="sell_dress_texto">
				Para vender tu vestido, envía un correo a <b><a style="color:white" href="mailto:novios@matriclick.com?subject=Vendo Mi Vestido" target="_blanck">novios@matriclick.com</a></b> con las fotos del vestido, los detalles, el precio y tus datos de contacto.<br /><br />
				Si prefieres, nos puedes pasar tu vestido y nosotros lo cuidamos y vendemos*
				<br />
				<br />
				<i>
				*Para conocer los precios y planes envíanos un correo a <a style="color:white" href="mailto:novios@matriclick.com?subject=Vendo Mi Vestido" target="_blanck">novios@matriclick.com</a>
				</i>
			</div>			
		</div>
	</div>
</div>