<!DOCTYPE html>
<html>
	<head>
		<%= stylesheet_link_tag("application") %>
		<%= javascript_include_tag('application') %>
	</head>
	
	<body>
		<div style="width:850px; height:350px;">
			<h1>Costos por región</h1>
			<br />
			<h3>
				Recuerda que si vas a comprar más de un producto, es mejor que los compres todos en un carro de compras.<br />
				De este modo se te cobrará el despacho una sola vez.<br />
			</h3>
			<% total_sets = 4 %>
			<% current_set = 0 %>
			<% @regions.each do |region| %>
				<div style="float:left; width:180px; height:30px; border:solid 1px #ccc; margin:2px; padding:2px;">
					<div style="margin:7px 0px 0px 3px">
						<div style="float:left; width:100%; color:#555">
							<%= region.name %>: <%= number_to_currency(region.dispatch_cost) %>
						</div>
					</div>
				</div>		    
			<% end %>
		</div>		    
	</body>
</html>