<h1>Preguntas Frecuentes</h1>

<div style="width:650px; margin-left:5px">
	<h3 style="color:#981111"><b>Tengo problemas para registrarme</b></h3>
	Ingresa a la <%= link_to 'página de registro', user_sign_up_path, :class => :blue %> e intenta nuevamente. Si el error persiste, contacta a soporte@matriclick.com y resolveremos el problema.

	<h3 style="color:#981111"><b>¿Cuáles son los métodos de pago?</b></h3>
	Nuestros medios de pago son a través de sistema webpay (tarjetas de crédito) o transferencia electrónica. Estas dos opciones aparecerán, luego de hacer click en el botón “comprar ahora”.

	<h3 style="color:#981111"><b>¿Cuáles son los plazos de entrega de los productos?</b></h3>
	Nuestros plazos de entrega son a partir del momento en que efectúas tu compra 
	Si eres de Santiago o de Regiones, considera desde 1 a 4 días hábiles para que tu compra esté en el lugar deseado. 

	<h3 style="color:#981111"><b>¿El costo de envío lo paga el cliente?</b></h3>
	El costo de envío lo paga el cliente y se carga automáticamente al monto total una vez que se ingresa la dirección al formulario de compra.

	<h3 style="color:#981111"><b>¿Todos los productos se pueden devolver?</b></h3>
	Todos los productos tienen opción de devolución excepto los siguientes accesorios: collares, anillos, aros y pulseras. Y           tampoco se aceptarán de ropa interior.
	Además los productos deberán ser devueltos en el mismo estado en que fueron entregados.

	<h3 style="color:#981111"><b>¿Cuáles son los plazos para realizar una devolución?</b></h3>
	Se aceptan devoluciones,  desde 1 a 5 días desde la entrega del producto. A diferencia de los zapatos que tienen plazo de devolución de 2 días.

	<h3 style="color:#981111"><b>¿Cómo se realiza la devolución?</b></h3>
	La devolución la puedes hacer enviando el producto a través de Chilexpress o bien, personalmente, a nuestra oficina.


	<h3 style="color:#981111"><b>¿Cómo y cuándo me harán la devolución del dinero?</b></h3>
	Luego de recibir el producto que fue devuelto, en las mismas condiciones que fue entregado, los plazos para realizar la devolución del dinero son entre 1 a 5 días hábiles.
	La devolución se hará directamente a la cuenta corriente del cliente. Esos datos puedes hacerlos llegar a través del formulario de “Contacto” o vía mail.

	<h3 style="color:#981111"><b>¿Puedo probarme los productos?</b></h3>
	No. Somos una tienda online, por lo que no contamos con un lugar físico donde puedas probarte los productos. El sistema funciona con compra en línea y despacho a domicilio.

	<h3 style="color:#981111"><b>¿Cuál es el medio a través del que realizan los envíos?</b></h3>
	Los productos son enviados a través de Chilexpress.

	<h3 style="color:#981111"><b>¿Cómo puedo saber el estado de mi envío?</b></h3>
	Comunícate con nosotros a través del formulario en la pestaña de “Contacto” y te enviaremos el número de orden y las instrucciones para que la puedas rastrear.

	<h3 style="color:#981111"><b>Contacto</b></h3>
	Escríbenos a contacto@tributosport.com
</div>
