<ul>
	<li><%= link_to 'Personalización', user_profile_personalization_path %></li>
	<li><%= link_to 'Tus Compras', user_profile_path %></li>
	<li><%= link_to 'Claves', edit_user_registration_path %></li>
</ul>