<div class="left_menu">
	<%= render 'left_menu', :dresses => @dresses %>
</div>
<div style="width:750px; float:left; margin-left:20px;">
	<h1>Personalizaci칩n</h1>
	<p> Selecciona los deportes que practicas para que podamos enviarte los productos y promociones que m치s te interesan.</p>
	<p>Nunca compartiremos esta informaci칩n. Solo la usaremos para enviarte correos personalizados y mejorar tu experiencia en la p치gina.</p>
	<div style="border-top:1px dotted #ccc; margin:15px 0px 15px 0px">
		<div style="float:left; margin-left:20px;">
			<h2>Tus Deportes <%= link_to '(editar)', user_profile_edit_tags_path, class: 'no_underline' %></h2>
			<%= render 'show_tags' %>
		</div>
	</div>
</div>
