<div style="margin:0 auto; width:500px; height:85px;background:url(<%= asset_path('campaign/alejandrasanchez/logo_alejandra_sanchez.png') %>) no-repeat center"></div>
<hr class="soften">
<div style="float:left;width:400px;height:650px; background:url(<%= asset_path('campaign/alejandrasanchez/tocados_alejandra_sanchez.png') %>) no-repeat">
	
</div>
<div style="float:left;width:390px;margin-left:10px;">
	<div style="margin:0 auto;text-align:left;line-height:20px;font-size:17px;">
		Alejandra Sánchez ofrece verdaderas joyas para el pelo.	Sus tocados son sofisticados, elegantes y únicos.
	</div>
	<div style="margin-top:25px;border:1px solid #ccc;padding:15px;line-height:18px;-moz-border-radius: 20px;border-radius: 20px;">
		<b>Aprovecha un 20% de descuento sólo por pocos días</b><br />
		<span style="font-weight:lighter; color:#888;">(Exclusivo para novios registrados en Matriclick.com)</span><br /><br />
		Revisa nuestros tocados en descuento:<br />
		- Vincapervinca<br />
		- Artemisa<br />
		- Erica tetralix<br />
		- Hiedra II<br />
		- Dame de violeta<br />
		- Vernonia II<br />
		- Consuelda<br />
		- Nocturna II<br />
		- Malva<br />
		- Mayor mariposa<br />
		<br /><br />
		<i>…En la tienda encontrarás  más de 190 modelos de distintos tocados entre los que puedes elegir uno hecho; o mandarte a hacer algo especial si quisieras, además hay aros, pulseras, rosarios y ramos de novia…</i>
	</div>
	<br />
	Para más información enviar e-mail a: <b>tocadosalejandrasanchez@matriclick.com</b>
</div>
<br />
<hr class="soften clear">
<div class="studio_footer">
</div>
<div class="clear"></div>