<div class="box base_paragraph">
	<p>Es Tu Matrimonio, ¡te lo regalamos!: </p>

	<p><b>Bases y Condiciones de participación</b> (ver anexos)</p>

	<p><b>Título I</b></p>

	<p><b>Características del Concurso</b></p>

	<p><b>Artículo 1º.- </b>La empresa Innoventos Spa, Rol Único Tributario Nº 76.172.673-0, en adelante, indistintamente mencionada como “Matriclick” o “la Empresa”, realizará un concurso a través de su página Web <a href="http://www.tributosport.com/">www.tributosport.com</a> en el cual los concursantes podrán participar y ganar los premios indicados en el artículo 7<b>º</b> de las presentes bases. La fecha de inicio del concurso será el 14 de febrero de 2012 y la de término será el 1 de Junio.</p>

	<p><b>Artículo 2°</b>.- Matriclick, velará por el cumplimiento de las presentes bases y tomará las decisiones necesarias que digan relación con el concurso, las cuales no serán susceptibles de reclamación. </p>

	<p><b>Artículo 3°</b>.- El presente concurso tiene como objetivo promocionar y dar a conocer Matriclick como plataforma para la ayuda en la organización de matrimonios dentro del territorio nacional. El concurso está dirigido a parejas de novios que deseen casarse dentro de los plazos estipulados en el Artículo 5°.</p>

	<p><b>Título II</b></p>

	<p><b>¿Quiénes pueden participar en “Es Tu Matrimonio, ¡te lo regalamos!”?</b></p>

	<p><b>Artículo 4°</b>.- Podrán participar todas aquellas personas naturales que se inscriban debidamente en la página Web <a href="http://www.tributosport.com/">www.tributosport.com</a> o a través de otro medio autorizado por Matriclick, durante los plazos establecidos por ésta.</p>

	<p><b>Artículo 5°</b>.- La participación en el concurso deberá ser en parejas, de un hombre y una mujer, que deseen casarse dentro del período de 20 meses contados desde la inscripción en el presente concurso. Cada pareja podrá inscribirse una sola vez. La inscripción deberá realizarse en pareja y debe contar con dos RUT válidos de las personas que contraerán matrimonio. Al menos uno de los participantes debe tener residencia en Chile al momento de la inscripción.</p>

	<p><b>Artículo 6°</b>.- No podrán participar en el concurso los trabajadores, agentes, dependientes, estudiantes en práctica o colaboradores permanentes de Matriclick o Paris S.A., como tampoco sus cónyuges y parientes hasta el tercer grado de parentesco por consanguinidad o afinidad.</p>

	<p><b>Título III</b></p>

	<p><b>Premios</b></p>

	<p><b>Artículo 7°</b>.- Se entregarán los siguientes premios: </p>

	<p>PREMIO 1: Primer premio concurso</p>

	<p>· El resultado del ganador se dará a conocer en el mes de marzo de 2012.</p>

	<p>· El premio 1 consiste en al menos 100 mil pesos valorados en productos o servicios de entre los productos y/o servicios provistos por los proveedores individualizados en la página web Matriclick.com, los cuales son elegidos por Matriclick y comunicados oportunamente a los participantes.</p>

	<p>PREMIO 2: Segundo premio concurso</p>

	<p>· El resultado del ganador se dará a conocer en el mes de Junio de 2012. </p>

	<p>· El premio 2 consiste en al menos 100 mil pesos valorados en productos o servicios de entre los productos y/o servicios provistos por los proveedores individualizados en la página web Matriclick.com, los cuales son elegidos por Matriclick y comunicados oportunamente a los participantes.</p>

	<p>PREMIO 3: Un Matrimonio de Regalo</p>

	<p>· El resultado del ganador se dará a conocer en el mes de mayo de 2012 y será el premio principal del concurso, que se le dará a la pareja que obtenga el primer lugar en el concurso. [modificado, ver artículo anexo]</p>

	<p>· El premio 3 consiste en ocho millones de pesos valorados en productos o servicios de entre los productos y/o servicios provistos por los proveedores individualizados en la página web Matriclick.com, los cuales son elegidos por la pareja ganadora. Se dará también la opción de una alternativa predefinida por Matriclick. Los novios podrán elegir entre dicha opción o elegir a los proveedores directamente ellos.</p>

	<p>· La entrega formal de este premio será realizada en la tienda de Paris del centro comercial Alto Las Condes o Parque Arauco, lo cual será informado oportunamente.</p>

	<p>Los proveedores válidos y con los que se podrán canjear los premios serán exclusivamente los que estén visibles en la página web <a href="http://www.tributosport.com/">www.tributosport.com</a> como proveedores participantes del concurso al momento en que se de a conocer la pareja ganadora. Los proveedores participantes se podrán distinguir de una forma clara y visible durante todo el período en que dura el concurso. La forma de distinguir a estos proveedores será comunicada oportunamente a los participantes del concurso.</p>

	<p><b>Artículo 8°</b>.- Los premios serán de carácter intransferible y tendrán una vigencia de 18 meses desde la fecha de la publicación de los ganadores, luego de este plazo todos los premios no cobrados caducarán. Si no se han casado durante ese período o no hacen uso del premio, éste se perderá de manera definitiva. Los premios tampoco podrán cobrarse antes de 60 días de publicados los ganadores. Los novios podrán cambiar la fecha del matrimonio definida siempre y cuando estén de acuerdo tanto Novios Paris como Matriclick para realizar dichos cambios. Esta desición no compromete de manera alguna a los proveedores a asegurar la disponibilidad comprometida previamente, por lo que los novios al optar por la opción de cambio corren el riesgo de perder los productos o servicios de los proveedores elegidos. De suceder esta situación, Matriclick podrá ayudar para darles otra opción pero no se encuentra en la obligación de conseguir un substituto , significando una eventual disminución en el premio a recibir por los novios ganadores.</p>

	<p><b>Artículo 9°</b>.- Los ganadores de los premios deberán hacer uso de la herramienta financiera Matriclick “Mis Gastos”, que se encuentra creada en su perfil de Matriclick. Los novios deberán anotar en “Mis Gastos” los registros de todas las elecciones finales hechas por éstos para su boda. Deben incluir todos sus registros, independiente si estos fueron o no parte del premio hecho por Matriclick.</p>

	<p><b>Artículo 10°</b>.- Matriclick podrá, según lo estime conveniente, extender el plazo de vigencia de la promoción, para lo cual informará oportuna y adecuadamente a los participantes. Con todo Matriclick, por razones de fuerza mayor o caso fortuito, podrá poner término anticipado a la promoción, informando en su efecto a los participantes, lo cual no generará responsabilidad de ningún tipo para Matriclick, como tampoco para Novios Paris. En este caso, la repartición de los Premios se hará entre los participantes que hayan alcanzado a concursar durante la vigencia de la promoción, es decir, que hayan realizado la inscripción que los habilita para participar y que hayan ingresado sus datos en el mencionado sitio Web, todo ello durante el período de vigencia de esta promoción y dentro de los plazos señalados en las presentes bases.</p>

	<p><b>Artículo 11°</b>.- Para hacer efectivo el PREMIO 3, la pareja de novios ganadora debe estar registrada en el programa “Novios Paris” perteneciente a la casa comercial chilena Paris S.A. y hacer su lista de regalos con dicha casa comercial. Si la pareja no estuviese registrada en este programa al momento de ganar el concurso, ésta dispondrá de 15 días corridos para registrarse en “Novios Paris” y renunciar a cualquier otro plan con otra casa comercial, independientemente de si la pareja ya estaba inscrita en alguno o no.</p>

	<p><b>Título IV</b></p>

	<p><b>Participación y Modalidad del Concurso</b></p>

	<p><b>Artículo 12°</b>.- El cronograma de concurso será el siguiente: </p>

	<p>- Lanzamiento oficial del concurso será el 14 de febrero de 2012.</p>

	<p>- Se entregará el nombre de la pareja ganadora del PREMIO 1 durante la última semana de marzo de 2012. </p>

	<p>- Se entregará el nombre de la pareja ganadora del PREMIO 2 durante la última semana de abril de 2012.</p>

	<p>- Se entregará el nombre de la pareja ganadora del concurso durante la última semana de mayo de 2012, quien será merecedora del PREMIO 3.</p>

	<p>Por última semana de un mes se entiende la semana que contenga el último día, ya sea éste hábil o no, del mes respectivo. </p>

	<p><b>Artículo 13°</b>.- Podrán participar por la opción de ganar alguno de los 3 premios, las personas que se hayan inscrito para concursar al menos 7 días corridos antes de la entrega del ganador respectivo. Los participantes que se inscriban con posterioridad al plazo antes señalado, participarán en el premio a entregarse en la siguiente fecha.</p>

	<p><b>Artículo 14°</b>.- El concurso consiste en enviar un texto y una imagen, esta última de carácter optativo, que cuente cómo fue la propuesta de matrimonio. La pareja de novios, al momento de inscribirse, deberá subir un texto con un máximo de 800 caracteres adjuntando, si así lo desean, 1 imagen de cualquier tipo, la que puede ser puede ser un paisaje, una foto de ellos, una caricatura o cualquiera que ellos estimen conveniente.</p>

	<p><b>Artículo 15°</b>.- La elección del ganador del concurso (PREMIO 3) será seleccionada por un Jurado que estará compuesto por 3 representantes de Matriclick y 2 representantes de Novios Paris. La elección del ganador se hará por mayoría simple, en caso de empate la decisión será tomada por uno de los miembros de Matriclick anteriormente definido. </p>

	<p><b>Artículo 16°</b>.- Los ganadores del PREMIO 1 y PREMIO 2 serán determinados mediante votación popular en la página Web <a href="http://www.tributosport.com/">www.tributosport.com</a>. La votación será referente al texto enviado que será divulgado a través de la página Web <a href="http://www.tributosport.com/">www.tributosport.com</a>. Cada persona podrá votar como máximo una vez por frase. La pareja participante dueña de la frase que obtuvo mayor cantidad de votos será la ganadora. En caso de empate la decisión de la pareja ganadora recaerá en el Jurado del concurso. La pareja ganadora del PREMIO 1 no podrá participar por ganar el PREMIO 2, pero seguirá participando por el PREMIO 3 del concurso.</p>

	<p><b>Artículo 17°</b>.- El Jurado, se reserva el derecho de descartar las frases o imágenes que pudiesen resultar contrarias a la moral, las buenas costumbres y las póliticas de Matriclick o de Novios Paris. </p>

	<p><b>Artículo 18°</b>.- Por este acto Los participantes vienen en declarar que todas las frases y/o fotos, dibujos, caricaturas, y todo otro material gráfico que los participantes enviarán para efectos del presente concurso, son una producción original de los mismo, no sujetas a derechos de autor, propiedad intelectual o industrial por parte de terceras personas. En consecuencia los participantes asumen toda responsabilidad derivada de uso ilegitimo de derechos de autor, propiedad intelectual y/o industrial, eximendo de toda responsabilidad a Matriclick y a Novios Paris en el caso que éstos utilicen alguna frase o imagen con derechos de autor registrados de los cuales no sean dueños, asumiendo desde luego, toda la responsabilidad legal emanada de dicha infracción y obligándose a indemnizar a Matriclick y a Novios Paris de todo perjuicio que estas sufran como consecuencia de dicha infracción, entre los que se incluyen, sin que la presente enumeración sea taxativa daño emergentes, lucro cesante, perjuicios directos e indirectos, sanciones administrativas y condenas judiciales, gastos legales y costas judiciales.</p>

	<p><b>Artículo 19°</b>.- Todos los concursantes, autores de frases y/o imágenes y titulares de los derechos de autor de éstas, por el hecho de participar en este concurso otorgan licencia para ser reproducidas y difundidas por Matriclick o por Novios Paris o a quién éstas designen, renunciando desde ya a exigir cualquier suma de dinero por dicha autorización, exclusivamente en el material de difusión del concurso y en los resultados de éste. Los participantes eximen a Matriclick de cualquier responsabilidad por la divulgación de este material hechas por terceros y sin el consentimiento de Matriclick.</p>

	<p><b>Artículo 20°</b>.- Los novios ganadores del PREMIO 3 se comprometen a dar el derecho a Matriclick para usar sus nombres en la página oficial de Matriclick y hacer uso de fotos de su matrimonio. Adicionalmente Matriclick tendrá el derecho de tener acceso a la celebración del Matrimonio y tomar fotografías del mismo. En caso de existir interés de la prensa de cubrir el concurso con algún reportaje, los novios deben acceder al menos a dar dos entrevistas con la prensa. Las condiciones respecto a la presencia de Matriclick durante el matrimonio de la pareja ganadora que no están definidas en estas bases, se resolverán de común acuerdo entre Matriclick y los novios ganadores.</p>

	<p><b>Artículo 21°</b>.- El ganador de cada premio será publicado en la página web. El premio deberá ser validado por alguno de los dos novios de la pareja ganadora, a través de la página web y en un plazo máximo de 7 días corridos, contados desde la publicación del ganador en el sitio web. En caso de que la pareja no valide el premio en el plazo mencionado anteriormente, el premio se declarará desierto y se volverá a sortear o elegir el nuevo ganador la semana siguiente de transcurrido el plazo, según corresponda. Se les enviará un correo electrónico a todos los participantes avisándoles que se han publicado los ganadores. Es responsabilidad de los concursantes revisar periódicamente el sitio web y validar su premio en el plazo definido anteriormente. Tanto Matriclick como Novios Paris no se hacen responsables de la correcta recepción del correo electrónico enviado, es decir, se exime a Matriclick y Novios Paris de toda responsabilidad ya sea que el correo rebote, sea redirigido a una carpeta de correos no deseados o cualquier situación que prevenga al concursante de revisar la información enviada.</p>

	<p><b>Título V</b></p>

	<p><b>Aspectos Legales</b></p>

	<p><b>Artículo 22°</b>.- El simple hecho de participar en el presente concurso a través del envío del formulario electrónico implica el conocimiento y aceptación de las condiciones de participación y de las presentes bases, quedando Matriclick y Novios Paris liberados de cualquier reclamo o acción posterior que signifique disconformidad con la promoción y toda su reglamentación.</p>

	<p><b>Artículo 23°</b>.- Un representante de Matriclick tendrá la facultad de solucionar y decidir sobre cualquier aspecto no previsto en las bases, lo que no será susceptible de reclamación alguna.</p>

	<p><b>Artículo 24°</b>.- Matriclick se reserva el derecho de iniciar acciones legales que estime procedentes en el caso de detectar alguna irregularidad con relación al desenvolvimiento del concurso regulado por estas bases.</p>

	<p><b>Artículo 25°</b>.- Matriclick podrá modificar las presentes bases, informando a los participantes del concurso de la misma forma en que fueron informadas las presentes bases.</p>

	<p><b>Artículo 26°</b>.- Matriclick podrá usar la información recopilada para entregarle a los novios información relevante del concurso. También Matriclick podrá enviarle a los novios otro tipo de información que Matriclick considere de valor ya sea con contenido propiamente tal de Matriclick o de alguno de nuestros socios.</p>

	<p><b>Artículo 27°</b>.- El canal de comunicación valido y oficial para todos los propósitos del concurso será www.tributosport.com.</p>

	<p><b>Artículo 28°</b>.- Matriclick y Novios Paris no se hacen responsable de la disponibilidad y /o oportunidad en el otorgamiento de los productos o servicios proporcionados por los proveedores elegidos, lo que es de competencia de cada proveedor, debiendo en dicho caso el ganador optar por otro de los proveedores indicados en el sitio web www.tributosport.com.</p>

	<p><b>Artículo 29°</b>.- El otorgamiento de información errónea, no fidedigna o falsa, en la postulación al concurso, habilitará a Matriclick.com a excluir a él o los participantes que hubiesen proporcionado la misma. </p>

	<p><b>Artículo 30°</b>.- Matriclick podrá solicitar información que estime conveniente para acreditar la condición de novios de las parejas ganadoras. La negativa por parte de los novios para entregar dicha información invalidará los novios de recibir los premios y se realizará el sorteo o elección del ganador nuevamente.</p>

	<p><b>Artículo 31°</b>.- Para hacer cobro de los premios es obligatorio que cada pareja ganadora contraiga matrimonio conforme a lo señalado por la Ley de Matrimonio Civil dentro del plazo de 20 meses contados desde la inscripción de la pareja en el presente concurso. </p>

	<p><b>Artículo Final:</b> En el desenvolvimiento y la designación de los ganadores, así como la participación de los concursantes, regirán las presentes bases.</p>

	<p>Santiago, Enero 2012</p>

	<p>Innoventos SpA</p>

	<p><b>Es Tu Matrimonio,</b></p>

	<p><b>hazlo como quieras</b></p>

	<p><i>Matriclick.com</i></p>
	
	<hr>
	
	<p>[18 de Mayo del 2012]</b>
	
	<p><b>Artículo Anexo 1</b>.- El ganador del premio de los 8 Millones se dará a conocer el 5 de Julio.</p>
	
	<p><b>Artículo Anexo 2</b>.- Para ganar el premio de los 8 Millones solo participarán propuestas ingresadas antes del 31 de Mayo.</p>
	
	<p><b>Artículo Anexo 3</b>.- Máximo de CLP $400,000 de gasto por rubro a excepción de Banqueteras y Centros de eventos que tienen un tope de $2,000,000.</p>
	
	<p><b>Artículo Anexo 4</b>.- Excluye la categoría Argollas y Hoteles.</p>
	
</div>