<div style="margin:0 auto; width:500px; height:85px;background:url(<%= asset_path('campaign/lasadrianas/logo_las_adrianas.png') %>) no-repeat center"></div>
<hr class="soften">
<div style="float:left;width:400px;height:650px; background:url(<%= asset_path('campaign/lasadrianas/vestidos_las_adrianas.png') %>) no-repeat">
	
</div>
<div style="float:left;width:390px;margin-left:10px;">
	<div style="margin:0 auto;text-align:left;line-height:20px;font-size:17px;">
		Madre e hija trabajando por varias generaciones en Alta Costura. <br>
		<br>Ya es toda una tradición en estas diseñadoras el gusto por el buen vestir, con un estilo elegante y fino.
	</div>
	<div style="margin-top:25px;border:1px solid #ccc;padding:15px;line-height:18px;-moz-border-radius: 20px;border-radius: 20px;">
		<b>· ¡Vestidos desde 15% hasta 20% de descuento!</b><br />
		<span style="font-weight:lighter; color:#888;">(Exclusivo para novios registrados en Matriclick.com)</span><br /><br />
		<b>·  Cotiza los vestidos en oferta, no te pierdas esta oportunidad y revisa los modelos con descuento:</b><br />
		</b><br />
		<b>· Pronovias:</b> Alcora, Folk, Maria, Foro, Trasfalgar, Dango, Fine, Moscu, Obelisco, Alexandra<br /><br />
		<b>· La Sposa:</b> Sideral, Sadur, Daga<br /><br />
		<b>· White one:</b> Talisman, Tampico, Triana.<br />
		<br />
		· Contacto: <b>lasadrianas@matriclick.com</b><br />
	</div>
</div>
<br />
<hr class="soften clear">
<div class="studio_footer">
</div>
<div class="clear"></div>