<div style="margin:0 auto; width:500px; height:85px;background:url(<%= asset_path('campaign/marialuisagarcia/logo_marialuisagarcia.jpg') %>) no-repeat center"></div>
<hr class="soften">
<div style="float:left;width:400px;height:650px; background:url(<%= asset_path('campaign/marialuisagarcia/foto_marialuisagarcia.jpg') %>) no-repeat">
	
</div>
<div style="float:left;width:390px;margin-left:10px;">
	<div style="margin:0 auto;text-align:left;line-height:20px;font-size:17px;">
		<i>…Lo ideal del maquillaje es que la novia se vea lo más linda posible sin que se note que está maquillada…</i>
	</div>
	<div style="margin-top:25px;border:1px solid #ccc;padding:15px;line-height:18px;-moz-border-radius: 20px;border-radius: 20px;">
		¡Aprovecha un <b>20% de descuento</b> en Pruebas + Peinado + Maquillaje!<br>
		<span style="font-weight:lighter; color:#888;">(Exclusivo para novios registrados en Matriclick.com)</span><br /><br />
		<i>"Me gusta destacar los rasgos y la personalidad de la novia sacándole el mayor partido a sus atributos personales."</i> <br /><br />
		<i>"El momento del maquillaje y el peinado debe ser un momento de relajo donde la novia pueda disfrutar de esos últimos detalles de su matrimonio"</i><br /><br />
		Valor con descuento incluído $124.000 (en vez de $155.000). <br><br>
		Descuentos adicionales:<br><br>
		<b>10% de descuento</b> en maquillaje de cada persona adicional<br><br>
		<b>20% de descuento</b> en tocados
		</b>
	</div>
	<div style="margin-top:15px;text-align:left;font-weight:lighter;">
		Para más información enviar e-mail a: <b>marialuisagarcia@matriclick.com</b>
	</div>
</div>
<br />
<hr class="soften clear">
<div class="studio_footer">
</div>
<div class="clear"></div>