<div style="margin:0 auto; width:500px; height:85px;background:url(<%= asset_path('campaign/micapricho/logo_micapricho.jpg') %>) no-repeat center"></div>
<hr class="soften">
<div style="float:left;width:400px;height:650px; background:url(<%= asset_path('campaign/micapricho/foto_micapricho.jpg') %>) no-repeat">
	
</div>
<div style="float:left;width:390px;margin-left:10px;">
	<div style="margin:0 auto;text-align:left;line-height:20px;font-size:17px;">
		Sorprende a tus invitados con una alternativa distinta, porque el bar en la fiesta no es un pequeño detalle.
	</div>
	<div style="margin-top:25px;border:1px solid #ccc;padding:15px;line-height:18px;-moz-border-radius: 20px;border-radius: 20px;">
		<b>20% de descuento</b> en Ricos Tragos Tropicales; Mojito cubano y frutal, daiquiri, caipirinha, caipirosca, entre muchos otros!<br /><br />
		<span style="font-weight:lighter; color:#888;">¡Aprovecha esta promoción exclusiva para <b>novios registrados en Matriclick.com</b> y lleva a tu matrimonio entretenidas y novedosas barras móviles iluminadas con un 20% de descuento, con los más ricos tragos!</span><br /><br />
		<b>Incluye:</b><br />
		<ul>
			<li style="font-size:12px">- Barra iluminada</li>
			<li style="font-size:12px; padding-top:3px;">- Barman capacitado (1 cada 60 tragos)</li>
			<li style="font-size:12px; padding-top:3px;">- Vasos y copas de vidrio</li>
			<li style="font-size:12px; padding-top:3px;">- Hielo cubo y frappé</li>
			<li style="font-size:12px; padding-top:3px;">- Insumos Frescos para la preparación de cada trago</li>
			<li style="font-size:12px; padding-top:3px;">- Traslado, montaje y desmontaje</li>
		</ul>
		<br />
		Contacto: <b>micapricho@matriclick.com</b><br />
	</div>
	<div style="margin-top:15px;text-align:left;font-weight:lighter;">
		(*) Compra hasta el 17 de Junio de 2012 para  usar  hasta el 30 de Mayo de 2013
	</div>
</div>
<br />
<hr class="soften clear">
<div class="studio_footer">
</div>
<div class="clear"></div>


