<div class="studio_logo" style="background:url(<%= asset_path('campaign/rimon/logo_rimon.png')%>) no-repeat center"></div>
<hr class="soften">
<div style="float:left;width:400px;height:650px; background:url(<%= asset_path('campaign/rimon/fotos_rimon.png') %>) no-repeat">
	
</div>
<div style="float:left;width:390px;margin-left:10px;">
	<div style="margin:0 auto;text-align:left;line-height:20px;font-size:17px;">
		La fiesta de matrimonio dura unas horas, las fotos son para toda la vida. ¡Aprovecha este descuento especial!
	</div>
	<div style="margin-top:15px;border:1px solid #ccc;padding:15px;line-height:18px;-moz-border-radius: 20px;border-radius: 20px;">
		<b>· ¡30% de descuento en el Pack Súper de fotografía de matrimonio.!</b><br />		
		<span style="font-weight:lighter; color:#888;">(Exclusivo para novios registrados en Matriclick.com)</span><br /><br />
		<b>·  Sesión trash the dress de regalo </b><br />
		<span style="font-weight:lighter; color:#888;">(dentro de Santiago)</span><br /><br />
		<b>· Bono de $30.000 en cualquier libro The Luxe<br /></b>
		<br />
		Este pack es ideal para matrimonios pequeños (hasta 150 invitados) e incluye:<br><br>
		<span style="font-weight:lighter; color:#888; padding-left:5px;">
		<ul>
			<li style="font-size:12px">- 1 Fotógrafa (Ronit, directora creativa y de iluminación)</li>
			<li style="font-size:12px; padding-top:3px;">- 1 Asistente de iluminación</li>
			<li style="font-size:12px; padding-top:3px;">- Set de iluminación profesional</li>
			<li style="font-size:12px; padding-top:3px;">- 7 horas de cobertura fotográfica: 1 hora de cobertura de la preparación de la novia, 6 horas de cobertura fotográfica de la ceremonia y la fiesta</li>
			<li style="font-size:12px; padding-top:3px;">- Retoque digital de todas las fotos a color y las mejores en blanco y negro</li>
			<li style="font-size:12px; padding-top:3px;">- Entrega de 3 DVD impresos con TODAS las fotos en calidad alta y sin sello de agua</li>
		</ul>
		</span>
	</div>
	<div style="margin-top:15px;text-align:left;font-weight:lighter;">
		El valor del Pack Súper de Fotografía en la Región Metropolitana es de $434.000. Contacto: <b>rimon@matriclick.com</b>
	</div>
</div>
<hr class="soften clear">
<div class="studio_footer">
</div>
<div class="clear"></div>