<div class="studio_logo" style="background:url(<%= asset_path('campaign/studiosnaps/studiosnaps_logo.jpg') %>)"></div>
<hr class="soften">
<div class="studio_left_content" style="background:url(<%= asset_path('campaign/studiosnaps/polaroids_studiosnaps.jpg') %>)">
	
</div>
<div class="studio_right_content">
	<div class="studio_content1">
		StudioSnaps es un sistema de <b>fotografía interactiva</b> que transformará tu matrimonio por completo
	</div>
	<div class="studio_content2">
		<b>· 4 Horas de fotografía ilimitada</b><br />
		<span style="font-weight:lighter; color:#888; padding-left:5px;">(Revelado automático en menos de 1 minuto)</span><br /><br />
		<b>· Gráficas personalizadas en todas las fotografías</b><br />
		<span style="font-weight:lighter; color:#888; padding-left:5px;">(Nombres, mensajes, agradecimientos, etc.)</span><br /><br />
		<b>· Albúm fotográfico on-line instantáneo!</b><br />
		<span style="font-weight:lighter; color:#888; padding-left:5px;">(Da el link a tus invitados y podrán acceder al albúm desde que te sacas la</span> <span style="font-weight:lighter; color:#888; padding-left:5px;">primera foto!)</span><br /><br />
		<b>· Tus invitados tendrán una foto/recuerdo de tu matrimonio que guardarán <span style="padding-left:5px;">por siempre</span></b><br /><br />
		<b>· Los novios registrados en Matriclick tendrán un exclusivo 15% de <span style="padding-left:5px;">descuento para contratar StudioSnaps</span></b><br />
		<br />
		<b>· <span style="font-weight:lighter; color:#888; padding-left:5px;">Contacto</span> studiosnaps@matriclick.com</b><br />
	</div>
	<div class="studio_content3">

		Valor por servicio en Región Metropolitana $300.000.-
		Para más información enviar e-mail a: <b>studiosnaps@matriclick.com</b>
	</div>
	<div class="studio_video">
		<iframe width="464" height="340" src="http://www.youtube.com/embed/lea7dqoXXj0" frameborder="0" allowfullscreen></iframe>
	</div>
</div>
<br />
<hr class="soften clear">
<div class="studio_footer">
</div>
<div class="clear"></div>