<div class="title_thanks">
	Agradecemos especialmente a nuestros proveedores, quienes aportaron premios y servicios en esta Gran Final de elección de mejor propuesta 2012.<br />
	Estos aportes ayudaron a que el evento sea todo un éxito.<br /><br />
	Gracias!!!
</div>
<br />
<div id="suppliers">
	<%= render "layouts/suppliers", :supplier_accounts => @supplier_accounts %>
	<div class="clear"></div>
</div>
