<div class="right_link">
	<%= link_to t('back'), tips_path(:ceremony_type_name => @ceremony_type.name), :class => :button %>
</div>
<div class="titulos">
	New tip
</div>
<div class="box">
	<%= render 'form' %>
	<br />
	<br />
</div>
