<% Country.where('url_path in (?)', ['chile', 'peru']).each do |country| %>
	<% if session[:country].url_path != country.url_path %>
		<div class="flag">
			<%= link_to (image_tag("country/selected/#{country.url_path}.jpg")), root_country_path(:country_url_path => country.url_path) %>
			<%= link_to country.name, root_country_path(:country_url_path => country.url_path), :style => 'color:white;' %>
		</div>
	<% end %>
<% end %>
