<table width="100%" style="font-size: 14px;" cellpadding="0" cellspacing="0">
	<tr id="content">
		<td>
			<%= yield :content %>
		</td>
	</tr>
	<tr>
		<td>
			<img src="http://www.tramanta.com/assets/el_bazar/logo-bf68209fb8b99b402a5a903d59550732.png" alt="TributoSport.com">
		</td>
	</tr>
	<tr id="copyright">
		<td align="right">
			<span style="font-family: 'Lucida Grande', 'Segoe UI', Arial, Verdana, 'Lucida Sans Unicode', Tahoma, 'Sans Serif'; font-size: 11px; color: #888;">&copy;&nbsp;<%= Date.today.year %>&nbsp;TributoSport.com</span>
		</td>
	</tr>
</table>
