<div class="main_menu">
	<div id="myslidemenu" class="jqueryslidemenu">
		<ul>
			<li><%= link_to 'Vestidos', dresses_ver_path(:type => "vestidos-fiesta") %></li>
			<li><%= link_to 'Ropa Interior', dresses_ver_path(:type => "ajuar") %></li>
			<li><%= link_to 'Sports Blog', blog_el_bazar_path %></li>
		</ul>
		<br style="clear:left" />
	</div>
</div>