<%= link_to "publicity", "#publicity", :id=> "publicity_hidden_link", :hidden => true, :class => :fancybox_before_submit %>

<div style="display:none"> <!-- fancy view -->
	<div id="publicity" style="width:400px">
		<h1>Espacio para publicidad</h1>
	</div>
</div>
