<div class="facebook_google_sign_in">
	<%- devise_mapping.to.omniauth_providers.each do |provider| %>
		<div style="width:110px; float:left; margin-left:10px; text-align:center">
	    	<div style="margin-bottom:5px">
				<%= link_to t('devise.views.shared._links.omniauth_authorize') + " #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %>
			</div>
			<%= link_to image_tag('sign_in/'+provider.to_s+'.png', :alt => 'registro con '+provider.to_s), omniauth_authorize_path(resource_name, provider), :class => [ provider.to_s.titleize, 'image_button'] %>
		</div>
	<% end -%>
	<div style="width:110px; float:left; margin-left:10px; text-align:center">
	    <div style="margin-bottom:5px">
			<%= link_to 'Ingresar con Matriclick', new_user_registration_path %>
		</div>
		<%= link_to image_tag('sign_in/register.png', 'registro'), new_user_registration_path, :class => 'image_button' %>
	</div>
	<div class="clear"></div>	
</div>
