<div class="sombra_footer">
</div>
<div class="footer">
<div class="box_nine_eight_cero center">
  <div class="login_contenido_wrapper center">
    <div class="login_contenido_izquierda">
      <div class="login_textos_container_1">
        <h4 class="login_h4">Una revolucionaria aplicación Web</h4>
        <p>Es la nueva y revolucionaria forma para organizar matrimonios. En Matriclick buscamos simplificar la organización de todo lo que implica para los novios el matrimonio</p>
      </div>

      <div class="login_textos_container_2">
        <h4 class="login_h4">Todo a un solo click</h4>
        <p>A un solo click los novios podrán acceder a la mejor plataforma para la organización de su matrimonio</p>
      </div>

      <div class="login_textos_container_3">
        <h4 class="login_h4">Los invitados también podrán participar</h4>
        <p>Además los invitados también podrán participar de este proceso. Ellos podrán aportar regalos para la fiesta, confirmar su asistencia, dejar comentarios, y mucho más!</p>
      </div>

    </div>
    <div class="login_contenido_derecha">
      <div class="login_textos_container_5">
        <h4 class="login_h4">La mejor vitrina para incrementar las ventas</h4>
        <p>Matriclick será la mejor vitrina del mercado para mostrar sus productos y cerrar negocios con los clientes, incrementando sus ventas</p>
      </div>

      <div class="login_textos_container_8">
        <h4 class="login_h4">Un gran sitio, grandes compromisos</h4>
        <p>Próximamente tendremos el mejor sitio del mercado para los novios, por lo que ofreceremos todos nuestros recursos para aportar a  nuestros socios.</p>
      </div>

     <div class="login_textos_container_3">
        <h4 class="login_h4">¡Contáctanos!</h4>
        <p>Para más información, comentarios o sugerencias contáctanos a <b>socios@matriclick.com</b></p>
      </div>

    </div>   
  </div>
	<div class="clear"></div>
	</div>
  </div>
</div>