<%= content_for :vimeo_tab do %>

	<div id="vimeo_tab" class="z_index0">
		<a id="tutorial_video" href="http://www.youtube.com/watch?v=sSbEF3aQJHc&amp;feature=player_embedded&amp;hd=1"><%= "Video Tutorial Proveedores" %></a>
	</div>
<% end %>